@import "susy";

/* GRIDS AND GUTTERS
=================================================================*/

$susy: (
    columns: 12,  // The number of columns in your grid
    gutters: 1/4, // The size of a gutter in relation to a single column
);

/* BREAKPOINTS
=================================================================*/

$tab: 44em;
$tab-wide: 55em;
$desk: 75em;

/* COLOURS
=================================================================*/

$black: #5B5B5B;
$grey: #E8E8E8;
$primary: #FFC15F;

/* FONT
=================================================================*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@mixin font-size($sizeValue: 1.6)
{
    font-size: ($sizeValue * 10) + px;
    font-size: $sizeValue + rem;
}
/* usage:@include font-size(2); */

/* MIXINS
=================================================================*/
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
    clear: both;
    }
}
/* usage:@include clearfix(); */

/* BASE STYLES
=================================================================*/

html{
    font-size: 62.5%;
    box-sizing: border-box;
}
* {
    -webkit-transition: all 0.2s ease;
       -moz-transition: all 0.2s ease;
        -ms-transition: all 0.2s ease;
         -o-transition: all 0.2s ease;
            transition: all 0.2s ease;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin:0;
    font-family: 'Playfair Display', serif;
    line-height: normal;
    overflow-x: hidden;
    width: 100%;
    border: 12px solid $primary;
    background: $grey;
    background-size: 100%;
    color: $black;
    height: 100vh;
    min-height: 390px;
    text-align: center;
}
a:focus,
button:focus{
    outline:0;
}
img{
    max-width: 100%;
}

/* TYPE
=================================================================*/

h1,h2,h3,h4{
    margin:0;
    padding:0px;
}
p{
    @include font-size(1.8);
    margin:0 0 1em 0;
    line-height: 24px;
    color: #fff;
    text-shadow: 2px 2px 2px #4a4a4a;
    @media screen and (min-width: $tab) {

    }
}

/* PAGE STYLES
=================================================================*/

#page-container{
    position: fixed;
    top: 12px;
    right: 12px;
    bottom: 12px;
    left: 12px;
    overflow: hidden;
}
.full-image{
    position: absolute;
    width: 280%;
    margin-left: -10%;
    max-width: none;
    height: auto;
    left: 0;
    top: 0;
    right: 0;
    -webkit-transform: scale(1);
       -moz-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);
    -webkit-animation: scaleImages 25s linear infinite alternate;
       -moz-animation: scaleImages 25s linear infinite alternate;
        -ms-animation: scaleImages 25s linear infinite alternate;
         -o-animation: scaleImages 25s linear infinite alternate;
            animation: scaleImages 25s linear infinite alternate;
    @media screen and (min-width: $tab) {
        width: 220%;
        margin-left: 0;
    }
    @media screen and (min-width: $tab-wide) {
        width: 140%;
        margin-left: 0;
    }
    @media screen and (min-width: $desk) {
        width: 100%;
        margin-left: 0;
    }
}
.wrapper{
    max-width: 1200px;
    margin: 0 auto;    
    width: 86%;
    @include clearfix;
    clear: both;
    position: relative;
    display: block;
    @media screen and (min-width: $tab) {
        width: 95%;
    }
    .title{
        background: #343434;
        padding: 1.6em 3.8em;
        display: inline-block;
        *display: inline;
        *zoom: 1;
        margin-bottom: 2.2em;
        box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.5);
    }
    h1, h2{
        text-align: center;
        @include font-size(2);
        text-transform: uppercase;
        color: #fff;
        font-family: 'Josefin Sans', sans-serif;
        @media screen and (min-width: $tab) {
            @include font-size(2.4);
        }
    }
    h1{
        margin-bottom: 0.2em;
    }
    h2{
        @include font-size(1.6);
    }
    p{
        max-width: 80%;
        margin: 0 auto;
        @media screen and (min-width: $tab) {
            max-width: 60%;
        }
    }
    .colour-line{
        width: 22%;
        background: $primary;
        height: 6px;
        border-radius: 6px;
        display: block;
        margin: 2em auto 0 auto;
    }
    &.va-c{
        position: relative;
        top: 10%;
        @media screen and (min-width: $tab) {
            top: 50%;
            -webkit-transform: translateY(-50%);
               -moz-transform: translateY(-50%);
                -ms-transform: translateY(-50%);
                 -o-transform: translateY(-50%);
                    transform: translateY(-50%);
        }
    }
}
@-webkit-keyframes scaleImages {
    to {
         -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
             -ms-transform: scale(1.2);
              -o-transform: scale(1.2);
                 transform: scale(1.2);
    }
}
@keyframes scaleImages {
    to {
        -webkit-transform: scale(1.2);
           -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
             -o-transform: scale(1.2);
                transform: scale(1.2);
    }
}
.links{
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    box-shadow: 2px 4px 15px 0px rgba(0,0,0,0.5);
    @media screen and (min-width: $tab) {
        left: 10%;
        right: 10%;
    }
    @media screen and (min-width: $tab-wide) {
        left: 15%;
        right: 15%;
    }
    @media screen and (min-width: $desk) {
        left: 20%;
        right: 20%;
    }
    ul{
        list-style: none;
        margin: 0;
        padding: 1.2em;
        background: rgba(255, 255, 255, 0.75);
        @media screen and (min-width: $tab) {
            padding: 2em;
        }
        li{
            display: inline-block;
            *display: inline;
            *zoom: 1;
            a{
                color: $black;
                @include font-size(1.8);
                text-decoration: none;
                margin: 0 2em;
                font-weight: bold;
                &:hover{
                    text-shadow: 1px 1px 1px #4a4a4a;
                }
            }
        }
    }
}